.cards .mock-card {
  min-width: 110px;
  min-height: 105px;
  cursor: pointer;
}

.cards .mock-card p {
  margin-bottom: 0;
}
.card .stars {
  margin-bottom: 10px;
}
.cards .stars img {
  width: 25px;
}
.ans-span {
  margin: auto;
}
.answer .stars img {
  width: 20px;
}

@media (min-width: 320px) {
  .cards {
    margin-top: 5px;
  }
  .cards .mock-card {
    width: 100%;
    min-height: min-content;
  }

  .cards .stars img {
    width: 15px;
  }
  .cards h2 {
    margin-bottom: 0;
  }
}

@media (min-width: 375px) {
  .cards .mock-card {
    width: 100%;
    min-height: min-content;
  }
  .cards .stars img {
    width: 15px;
  }
}
