.header {
  position: fixed;
  align-items: center;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ced4da;
  border-bottom: 2px solid;
}

.header a {
  margin: 15px;
}

.soundBtn {
  height: 40px;
}

.soundBtn img {
  width: 20px;
}
