.info-card {
  max-width: 35rem;
}

.info-card a {
  text-decoration: none;
  color: white;
}

.info-card a:hover {
  text-decoration: underline;
}

.info-card p {
  margin-bottom: 2px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .info-card {
    max-width: 20rem;
  }
}

@media (min-width: 992px) {
  .info-card {
    max-width: 28rem;
  }
}

@media (min-width: 1200px) {
  .info-card {
    max-width: 35rem;
  }
}

@media (min-width: 1400px) {
  .info-card {
    max-width: 50rem;
  }
}
