.App {
  background-color: #dee2e6;
}

.App a {
  text-decoration: none;
}

.enter-word {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.enter-word label {
  margin: 5px;
}

@media (min-width: 320px) {
  .App .header a {
    margin: 5px;
  }
}

@media (min-width: 480px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
